<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title><%- title %></title>
<script type="text/javascript" src="/js/app.js" async></script>
<link rel="stylesheet" href="/weld-static-assets/css/weld-fonts.css">
<link rel="stylesheet" href="/weld-static-assets/css/weld-colors.css">
<link rel="stylesheet" href="/css/style.css">
<link id="favicon" rel="shortcut icon" href="/img/icon_head.png" sizes="512x512" type="image/png"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>

<body>
<main>

<h1>Articles</h1>

<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Site</th>
			<th>Image</th>
			<th>Title</th>
			<th>Description</th>
			<th>Keywords</th>
		</tr>
	</thead>
	<tbody>
<% for(var i=0; i < articles.length; i++) { %>
		<tr>
			<td><%= formatDate(articles[i].dateCreated) %></td>
			<td><%= articles[i].siteName %></td>
			<td><img class="thumbnail" src="<%= articles[i].imageUrl %>"></td>
			<td><a href="/<%= articles[i].slug %>"><%= articles[i].title %></a></td>
			<td><%= articles[i].description %></td>
			<td><%= articles[i].keywords.join(', ') %></td>
		</tr>
<% } %>
	</tbody>
</table>

<% include ../shared/footer %>