<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title><%- article.title %></title>
<meta property="og:site_name" content="<%= article.title %>">
<meta property="og:title" content="<%= article.title %>">
<meta name="twitter:title" content="<%= article.title %>">
<meta name="description" content="<%= article.description %>">
<meta property="og:description" content="<%= article.description %>">
<meta name="twitter:description" content="<%= article.description %>">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@Weld_io">
<meta name="twitter:creator" content="@Weld_io">
<meta property="og:image" content="<%- article.imageUrl %>">
<meta name="twitter:image" content="<%- article.imageUrl %>">
<link rel="shortcut icon" href="/img/icon_head.png" sizes="512x512" type="image/png"/>
<script type="text/javascript" src="/js/app.js" async></script>
<link rel="stylesheet" href="/weld-static-assets/css/weld-fonts.css">
<link rel="stylesheet" href="/weld-static-assets/css/weld-colors.css">
<link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>

<body>
<main>

<section class="ad-frame">
	<h2>Weld – Be creative without code</h2>
	<p>Create visual, animated, interactive content on your existing web/e-commerce platform</p>
	<a href="https://www.weld.io?utm_source=articles.weld.io&utm_content=<%= article.slug %>"><button>Learn more</button></a>
</section>

<section class="ad-frame background">
	<video autoplay="true" loop="true">
		<source src="https://s3-eu-west-1.amazonaws.com/weld-app-assets/landing/weld_landingpage_2017_hd.mp4" media="all and (max-width:480px)" type="video/mp4">
		<source src="https://s3-eu-west-1.amazonaws.com/weld-app-assets/landing/weld_landingpage_2017_hd.mp4" type="video/mp4">
	</video>
</section>

<section class="article-frame">
	<h2><%= article.title %></h2>
	<p><%= truncate(article.description, 200) %></p>
	<a href="<%= article.url %>" target="_blank"><button>Continue to article</button></a>
</section>

<% include ../shared/footer %>